%nav#main-site-navbar
  .nav-wrapper.container
    = link_to root_path, {class: 'brand-logo'} do
      = image_tag 'main_logo', id: 'main-logo-nav'
      .tag-line
        Sprout Free Canada
    %ul.hide-on-med-and-down.right
      %li
        %a{href: '#'}
          Latest Topics
      %li.alerts
        %a{href: '#'}
          = material_icon.notifications
      %li
        %a#user-button.dropdown-trigger{href: '#', 'data-target': 'user-navbar-dropdown'}
          = image_tag user_avatar(current_user, 30), class: 'circle'
          = current_user.username
          = fa_icon 'chevron-down'


%ul#user-navbar-dropdown.dropdown-content
  %li
    %a{href: '#'}
      My Profile
  %li
    %a{href: '#', class: 'flow-text'}
      Account Settings
  %li
    %a{href: '#'}
      Log Out
