%ul#main_nav_dropdown.dropdown-content
  %li
    = link_to 'Home', root_path, class: 'green-text'
  %li
    = link_to 'Forum', forums_path, class: 'red-text'
  %li
    = link_to 'News', '#', class: 'grey-text'
  %li
    = link_to 'Merch', '#', class: 'grey-text'

  %li.divider.hide-on-med-and-up
  - if user_signed_in?
    %li.hide-on-med-and-up
      = link_to 'My Profile', '#', class: 'grey-text'
    %li.hide-on-med-and-up
      = link_to 'Account Settings', '#', class: 'grey-text'
    %li.hide-on-med-and-up
      = link_to 'Sign Out', '#', class: 'red-text'

  - else
    %li.hide-on-med-and-up
      = link_to 'Grow with us', '#', class: 'green-text'
    %li.hide-on-med-and-up
      = link_to 'Sign in', '#', class: 'red-text'
