.card
  .card-head
    %h3 Create a new notification
  .card-body
    = simple_form_for @site_notification do |f|
      .radio-btns.row.ml-3
        = f.input :email_me, as: :radio_buttons, label: 'Send Email'
        .ml-3
          = f.input :to_notify, as: :radio_buttons, label: 'Send Notification'
      = f.input :email_subject, placeholder: 'Only needed if sending email...'
      = f.input :title
      = f.trix_editor :body
      = f.submit class: 'btn btn-success'
