= simple_form_for([@forum_category, @forum_topic]) do |f|
  = f.input :title, label: false, placeholder: 'Topic Title'
  = f.input :description, label: false, placeholder: 'Topic Description'
  = f.submit class: 'btn btn-success'

= link_to 'Back', forums_path
