%h2
  = @forum_topic.title
- if user_admin?
  = link_to 'Edit', edit_forum_topic_path(@forum_topic)
  = link_to 'Delete', forum_topic_path(@forum_topic), method: :delete, data: {confirm: 'Are you sure?'}
%hr
= link_to 'New Thread', new_forum_topic_forum_thread_path(@forum_topic.id)
= link_to '<Back', forums_path
%ul.list-group
  = render @forum_topic.forum_threads
