#forums_page
  .row
    .col.m4.hide-on-small-only
      %h5
        Categories
      %hr
      %ul.categories-list
        - @categories.each do |category|
          %li.cat-title
            = link_to category.title, forum_categories_path(category)
          %ul.topic-list
            - category.forum_topics.each do |topic|
              %li.topic
                = link_to topic.title, forum_topic_path(topic)
      = raw pagy_bootstrap_nav(@pagy).html_safe

    .col.s12.m4
      %h5.center-align Latest Threads
      %hr
      %ul
        - @latest_threads.each do |thread|
          = link_to forum_thread_path(thread), class: 'thread-link' do
            = image_tag user_avatar(thread.user), class: 'circle'
            = thread.subject
    .col.s12.m4
      %h5.center-align Top Threads
      %hr
      %ul
        - @threads.each do |thread|
          = link_to forum_thread_path(thread), class: ' thread-link' do
            = image_tag user_avatar(thread.user), class: 'circle'
            = thread.subject

    .col.s12.m8
      %h5.center-align some heading
