= render partial: 'parts/forum_parts/topbar', locals: { categories: @categories }
#forums_page
  .row
    .col.m4.blue.lighten-5.hide-on-small-only
      %h5
        Categories
      %hr
      %ul.categories-list
        - @categories.each do |category|
          %li.cat-title
            = category.title
          %ul.topic-list
            - category.forum_topics.each do |topic|
              %li.topic
                = topic.title


    .col.s12.m4.green.lighten-3
      %h5 Latest Threads
      %ul
        - @threads.each do |thread|
          %li
            = image_tag user_avatar(thread.user), class: 'circle'
            = thread.subject
    .col.s12.m4.red.lighten-3
      %h5 Top Threads
      %ul
        - @threads.each do |thread|
          %li
            = image_tag user_avatar(thread.user), class: 'circle'
            = thread.subject
