- if user_admin?
  = link_to 'New Category', new_forum_category_path

#forums-page
  %ul.list-group.categories-list
    - @categories.each do |category|
      %li.list-group-item.category
        %h3
          = link_to category.title, forum_category_path(category), class: 'title'
        %ul.list-group-flush
          - category.forum_topics.each do |topic|
            .list-group-item.topic-link-and-logo
              = fa_layered_icon style: 'background: MistyRose', size: '2x' do
                = fa_icon 'circle', style: 'color: rgb(62, 212, 212)'
                = fa_icon'cannabis', class: 'fa-inverse',style: 'color: rgb(6, 150, 29)', data: { fa_transform: 'shrink-6' }
              = link_to topic.title, forum_topic_path(topic), class: 'topic-link'
