-#
.sticky-top
  %nav#logo-bar.bg-light.navbar.navbar-light.navbar-expand-lg.mx-3
    = link_to root_path, class: 'navbar-brand' do
      .logo
        = image_tag 'Logo-white-bg.png', id: 'logo-2'
        .tag-line.ml-2
          .first Canada's Legalized
          .second Growing Community
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    %ul.navbar-nav.ml-auto.login-links-top
      - if user_signed_in?
        = render partial: 'parts/nav/logged_in'
      - else
        %li.nav-item
          = link_to 'Grow With Us', new_user_registration_path, class: 'btn btn-success nav-link mr-2 shadow'
        %li.nav-item
          = link_to 'Log In', new_user_session_path, class: 'btn btn-secondary nav-link mr-2 shadow'
  %nav#links-bar.bg-light.navbar.navbar-light.navbar-expand-lg.mx-3
    #navbarSupportedContent.collapse.navbar-collapse.not-logo-links
      %ul#site-links.navbar-nav.mx-auto.justified
        %li.nav-item
          = link_to 'Community Forum', forums_path, class: 'nav-link'
        %li.nav-item.disabled
          = link_to 'Cannabis News', "https://www.sproutfreecanada.com/forum_categories/cannabis-news", class: 'nav-link'
        %li.nav-item
          = link_to 'Starting Your Garden', "#", class: 'nav-link disabled'
        %li.nav-item
          = link_to 'Classifieds & Listings', "#", class: 'nav-link disabled'
        %li.nav-item
          = link_to 'Wear It Proud!', "#", class: 'nav-link disabled'
        %li.nav-item
          = link_to 'Advertise With Us', "#", class: 'nav-link disabled'
        %li.nav-item
          = link_to 'Contact Us', "#", class: 'nav-link disabled'
      %ul.navbar-nav.ml-auto#login-links-botom
        - if user_signed_in?
          %li.nav-item.user-name
            = link_to fa_icon('user',text: current_user.username), edit_user_registration_path, class: 'btn btn-success nav-link mr-2'
          %li.nav-item
            = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-danger nav-link mr-2'
        - else
          %li.nav-item
            = link_to 'Log In', new_user_session_path, class: 'btn btn-secondary nav-link mr-2'
          %li.nav-item
            = link_to 'Grow With Us', new_user_registration_path, class: 'btn btn-success nav-link mr-2'
