.card-head.mt-2
  %h2 Sign up
.card-body
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification
    .form-inputs
      = f.input :username, autofocus: true, required: true, input_html: {autocomplete: 'username'}
      = f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }
      = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" }
      = f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" }

      Please Review
      = link_to 'Terms of Services', 'https://app.termly.io/document/terms-of-use-for-website/f45bc05b-f1e8-4db6-a263-bd2a10d2db62', target: '_blank'
      = f.input :terms_of_service, as: :boolean, label: 'I accept terms', require: true
    .form-actions
      = f.button :submit, "Sign up", id: 'submitbtn', disabled: "disabled", class: 'btn btn-primary'
  = render "devise/shared/links"
