#cat-show.mt-3
  = link_to 'Back to Forum', forums_path, class: 'ml-3'
  |
  - if user_admin?
    = link_to 'Back to Categories', forum_categories_path
    |
    = link_to 'Edit Category', edit_forum_category_path(@forum_category)
  .heading-bar
    %h3.ml-4
      = @forum_category.title
    %hr
    - if user_admin?
      = link_to 'New Topic', new_forum_category_forum_topic_path(@forum_category)

  %ul#forum_topics.list-group.topic-list{'data-url': sort_forum_category_forum_topics_path(@forum_category) }
    - @forum_category.forum_topics.order(:position).each do |topic|
      - cache topic do
        %li.list-group-item.topic-item{id: dom_id(topic)}
          = link_to "- #{topic.title}", forum_topic_path(topic)
