%li.nav-item.mr-2
  .dropdown{'data-behavior': 'notifications'}
    %btn.btn.btn-dark.dropdown-toggle{'data-toggle': 'dropdown', 'data-behavior': 'notifications-link' }
      = fa_icon 'lightbulb', data: {'fa-transform': 'rotate-180'}, id: 'lightbulb-icon'
      %span{'data-behavior': 'unread-count'} 0
    #notifications.dropdown-menu.dropdown-menu-right{'data-behavior': 'notification-items'}
      / Dynamic dropdown


%li.nav-item.user-name
  .btn-group
    %btn.btn.btn-success.dropdown-toggle.mr-2.shadow{'data-toggle': 'dropdown', 'aria-haspopup': true, 'aria-expanded': false}
      = current_user.username
    .dropdown-menu
      = link_to 'My Profile', user_profile_path(current_user), class: 'dropdown-item'
      = link_to 'Update Account', edit_user_registration_path, class: 'dropdown-item'
      = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
