
#main-landing-page
  .pic-area{style: "background-image: url(#{asset_path('new-bg')});"}
    .left-area.pr-3
      .heading
        %h2
          Join us and celebrate your legal rights to
          %br
          Grow Your Own!
        %h1

      .info
        = link_to 'https://www.sproutfreecanada.com/forum_threads/159' do
          %h2.underline
            See Forum For Details
            %p.underline
              The Grow Tent Giveaway!
    .right-area
      %h2.user-count
        = total_users
        = fa_icon('user', class: 'user-icon')
        %br
        Current users
      .grow-links
        %h3 GROW WITH US
        = link_to 'Sign Up Now', new_user_registration_path, class: 'btn btn-danger pulse'
        %br
        = link_to '* Read Details Here', 'https://www.sproutfreecanada.ca/forum_threads/17', class: 'details'
