= form_for @forum_post_photo do |f|
  - if @forum_post_photo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@forum_post_photo.errors.count, "error")} prohibited this forum_post_photo from being saved:"
      %ul
        - @forum_post_photo.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :image
    = f.file_field :image, id: :forum_post_photo_image
  .actions
    = f.submit 'Save'
