#user-profile
  .edit-card.mt-3
    .card-head
      %h2
        Edit your profile
      %hr
    .card-body

      = simple_form_for @user_profile, url: user_profile_path do |f|
        .row
          .current-avatar.mr-3
            = image_tag user_avatar(@user_profile, 100), class: 'rounded-circle'

          = f.input :avatar

        = f.input :about_me
        = f.submit 'Update Profile', class: 'btn btn-success shadow'
