#user-profile
  .card.mt-5.ml-5
    .card-head
      .left.ml-3.mt-3
        = image_tag user_avatar(@profile, 100), class: 'rounded-circle'
      .right.ml-2.mt-3
        %h3.text-center
          = @profile.username
        Province:
        = user_province(@profile)
        %br
        City:
        = user_city(@profile)
        %br
        Total posts:
        = @profile.forum_posts.count
      %hr
    .card-body
      %p
        = @profile.about_me
      %hr
      - if current_user == @profile
        = link_to 'Edit Profile', edit_user_profile_path(current_user)
