%h1 Listing test_photos

%table
  %thead
    %tr
      %th Image data
      %th
      %th
      %th

  %tbody
    - @test_photos.each do |test_photo|
      %tr
        %td= test_photo.image_data
        %td= link_to 'Show', test_photo
        %td= link_to 'Edit', edit_test_photo_path(test_photo)
        %td= link_to 'Destroy', test_photo, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Test photo', new_test_photo_path
