#main-carousel.carousel.slide{'data-ride': "carousel"}
  %ol.carousel-indicators
    - 3.times do |i|
      - if i == 0
        %li.active{'data-target': "#main-carousel", 'data-slide-to': i }
      - else
        %li{'data-target': "#main-carousel", 'data-slide-to': i }

  .carousel-inner
    .carousel-item.active
      %h3.text.text-center
        .top
          %p
            = t('tag-line1')
          = t('tag-line2')
        .bottom
          = link_to 'Sign Up', new_user_registration_path, class: 'btn btn-success'

    .carousel-item
      %h3.text.text-center
        .top
          = t('tag-line1')
          = t('tag-line2')
        .bottom
          = link_to 'Sign Up', new_user_registration_path, class: 'btn btn-success'
    .carousel-item
      %h3.text.text-center
        .top
          = t('tag-line1')
          = t('tag-line2')
        .bottom
          = link_to 'Sign Up', new_user_registration_path, class: 'btn btn-success'

  %a.carousel-control-prev{ href: "#main-carousel", role: "button", 'data-slide': "prev"}
    %span.carousel-control-prev-icon{'aria-hidden': "true"}
    %span.sr-only
      Previous

  %a.carousel-control-next{ href: "#main-carousel", role: "button", 'data-slide': "next"}
    %span.carousel-control-next-icon{ 'aria-hidden': "true"}
    %span.sr-only
      Next
