-# TODO: Build Categories
= render 'parts/forum_parts/all_categories'
= render 'parts/forum_parts/tabs'

#forum-nav-bar
  %ul.row
    %li
      = link_to '#', {class: 'btn red dropdown-trigger', 'data-target': 'categories-dropdown' } do
        All Categories
        = material_icon.keyboard_arrow_down
    %li
      = link_to '#', {class: 'btn green dropdown-trigger', 'data-target': 'tabs-dropdown' } do
        Tags
        = material_icon.keyboard_arrow_down
    %li
      = link_to 'Latest', '#'
    %li
      = link_to 'Most Comments', '#'
    %li
      = link_to 'Rising', '#'
    %li
      = link_to 'Most Likes', '#'
