= render partial: 'parts/forum_parts/all_categories', locals: { categories: @all_categories }
= render 'parts/forum_parts/tabs'

#forum-nav-bar
  #main.row
    %ul.left-links.col.m4
      %li
        = link_to '#', {class: 'btn red categories-dropdown-trigger', 'data-target': 'categories-dropdown' } do
          Categories
          = material_icon.keyboard_arrow_down
      %li
        = link_to '#', {class: 'btn green disabled dropdown-trigger', 'data-target': 'tabs-dropdown' } do
          Tags
          = material_icon.keyboard_arrow_down
    %ul.right-links.col.l8.hide-on-med-and-down
      %li
        = link_to 'Latest', forums_latest_path
      %li
        = link_to 'Most Comments', forum_thread_path(@top_thread)
      %li
        = link_to 'Most Likes', '#'
