-# Edit Link
- if admin_or_post_owner?(forum_post)
  - if first_post_in_thread?(@forum_thread, forum_post)
    = link_to 'Edit', edit_forum_post_path(id: forum_post.id, forum_thread_id: @forum_thread_id)

.post{ id: dom_id(forum_post)}
  -# User Card
  = render partial: 'parts/user_card', locals: {user: forum_post.user }

  .post-content
    -# Checks for first post
    - unless @forum_thread.forum_posts.first == forum_post
      %p.text-muted
        Post by:
        = link_to forum_post.user.username, user_profile_path(forum_post.user.id)
        = local_time_ago forum_post.created_at
    .trix-content
      = sanitize forum_post.body
.bottom-stats
  -# - if user_signed_in? && forum_post.user_id == current_user.id
  -#   = link_to 'Edit', edit_forum_post_path(id: forum_post.id, forum_thread_id: @forum_thread_id)
  %div{id: "forum_posts_#{forum_post.id}", class: 'likes'}
    = render partial: "forum_posts/likes", locals: { post: forum_post }

-# allows to delete a comment post
- unless @forum_thread.forum_posts.first == forum_post
  - if forum_post.user == current_user
    = link_to 'Delete', forum_post_path(forum_post), method: :delete, data: {confirm: "Are you sure?"}
%hr
