-# Edit Link
- if user_admin? || user_signed_in? && current_user.id == @forum_thread.user_id
  - if @forum_thread.forum_posts.first == forum_post
    = link_to 'edit', edit_forum_post_path(id: forum_post.id, forum_thread_id: @forum_thread_id)

-# Checks for first post
- unless @forum_thread.forum_posts.first == forum_post
  %p.text-muted
    Post by:
    = forum_post.user.username
    = local_time_ago forum_post.created_at

.post-content
  = sanitize forum_post.body

%div{id: "forum_posts_#{forum_post.id}" }
  = render partial: "forum_posts/likes", locals: { post: forum_post }

-# allows to delete a comment post
- unless @forum_thread.forum_posts.first == forum_post
  = link_to 'Delete', forum_post_path(forum_post), method: :delete, data: {confirm: "Are you sure?"}
%hr
