- post = post || @forum_post
.contain
  - if user_signed_in? && current_user.likes?(post)

    = link_to forum_post_likes_path(post), method: :delete, class: 'small-box red', remote: true do
      = sanitize peace_icon_white
  - elsif user_signed_in?
    = link_to forum_post_likes_path(post), method: :post, class: 'small-box', remote: true do
      = sanitize peace_icon_white

  .like-counts
    = pluralize(post.likes.count, 'Like')
    - post.likes.each do |like|
      = like.user.username


  .dropdown
    %btn.btn.btn-secondary.dropdown-toggle{type: "button", id: "LikesDropdownButton", 'data-toggle': "dropdown", 'aria-haspopup': true, 'aria-expanded': false}
      = pluralize(post.likes.count, 'Like')
    .dropdown-menu{'aria-labelledby': "LikesDropdownButton"}
      - post.likes.each do |like|
        .dropdown-item
          = link_to like.user.username, user_profile_path(like.user)
