- post = post || @forum_post
.contain
  = social_share_button_tag(post.forum_thread.subject , desc: strip_tags(post.body))
  - if user_signed_in? && current_user.likes?(post)

    = link_to forum_post_likes_path(post), method: :delete, class: 'small-box red', remote: true do
      = sanitize peace_icon_white
  - elsif user_signed_in?
    = link_to forum_post_likes_path(post), method: :post, class: 'small-box', remote: true do
      = sanitize peace_icon_white

  .dropdown
    %btn.btn.btn-teal.dropdown-toggle{id: "LikesDropdownButton", 'data-toggle': "dropdown", 'aria-haspopup': true, 'aria-expanded': false}
      = pluralize(post.total_likes, 'Like')
    .dropdown-menu{'aria-labelledby': "LikesDropdownButton"}
      - post.likes.each do |like|
        .dropdown-item
          = link_to like.user.username, user_profile_path(like.user)
