%h1{style: 'text-align: center; text-decoration: underline;'}
  = @reciver.username
%p{style: 'text-align: center;'}
  New Notification
  = @actor
  = @action
  on
  = link_to @post.forum_thread.subject, "https://www.sproutfreecanada.com/forum_threads/#{@post.forum_thread.id}"

%hr

%p{style: 'font-size:0.7rem; text-align:center'}
  Thank you for your continued support in helping us to grow!
  = link_to "SproutFreeCanada", "https://www.SproutFreeCanada.com"
