%table.table#thread-table
  %th
    %tr
      %th{'scope': 'col'}
        Title
      %th{'scope': 'col'}
        Username
      %th{'scope': 'col'}
        = sort_link "created_at"
      -# %th{'scope': 'col'}
      -#   Likes
      %th{'scope': 'col'}
        = sort_link "last_forum_post_time", 'Last Comment'
  %tb
    - @forum_threads.each do |thread|
      %tr
        %th{'scope': 'row'}
          = link_to thread.subject, forum_thread_path(thread)
        %td
          = link_to thread.user.username
        %td
          = local_time_ago thread.created_at
        -# %td
        -#   = thread.
        %td
          = link_to render_time_ago(thread.last_forum_post_time), forum_thread_path(thread, anchor: dom_id(thread.forum_posts.last))
= raw pagy_bootstrap_nav(@pagy).html_safe
