.thread.mt-3.ml-3
  .heading
    %h3
      = @forum_thread.subject
    %p.text-muted.created-at
      Created
      = local_time @forum_thread.created_at
      by
      = link_to  @forum_thread.user.username, "#"
  .posts-container
    = render @forum_thread.forum_posts


    - if user_signed_in?
      .new-post-form
        = render partial: "forum_posts/form"
