!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SproutFree
    = favicon_link_tag asset_path('favicon.png')
    = csrf_meta_tags
    = csp_meta_tag
    = Gon::Base.render_data
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .red-flag
      .red
      .white
      .red
    .container-fluid
      = render 'parts/header'
      = render 'parts/navbar'
      = render 'parts/flash'
      .dynamic-content.mx-3
        .current-controller-area
          - if forum_area?
            = render 'parts/forum_parts/topbar'
          - if devise_controller?
            .container#devise-area.mt-3
              .card
                = yield
          - else
            = yield
        - unless root_controller?
          .side-bar.mt-3
            = render 'user/info'
      .container
        = render 'parts/footer'
